@charset "UTF-8";
.add_wrap {
  position: absolute;
  top: 40px;
  width: 100%;
  min-width: 1200px;
  height: calc(100% - 40px);
  height: -webkit-calc(100% - 40px);
  height: -moz-calc(100% - 40px);
  overflow: hidden;
  background: none; }

/*******没有左导航的列表页*******/
.centerBody {
  position: absolute;
  top: 100px;
  bottom: 90px;
  left: 50%;
  width: 65%;
  min-width: 1000px;
  padding-top: 30px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%); }
  .centerBody .centerBodyInputGroup {
    height: 30px;
    width: 100%;
    position: relative; }
    .centerBody .centerBodyInputGroup .select_start_end_date {
      float: left;
      margin-left: 40px; }
  .centerBody .centerBodyTab {
    position: absolute;
    top: 70px;
    bottom: 0px;
    /*height: 100%;*/
    width: 100%; }
    .centerBody .centerBodyTab .centerBodyTabHead {
      position: absolute;
      top: 0;
      height: 43px;
      line-height: 43px;
      width: 100%;
      padding: 0 0 0 25px;
      background: #f1f1f1;
      font-size: 16px; }
      .centerBody .centerBodyTab .centerBodyTabHead div {
        float: left;
        height: 100%;
        text-align: left;
        overflow: hidden;
        padding: 0 10px;
        text-overflow: ellipsis;
        white-space: nowrap; }
    .centerBody .centerBodyTab .centerBodyTabBodyWrapper {
      position: absolute;
      top: 43px;
      /*height: 100%;*/
      bottom: 90px;
      width: 100%;
      overflow: hidden;
      background: #fff; }
      .centerBody .centerBodyTab .centerBodyTabBodyWrapper .centerBodyTabBody .centerBodyTabBodyLine {
        position: relative;
        width: 100%;
        height: 40px;
        line-height: 40px;
        padding: 0 0 0 25px;
        font-size: 14px;
        color: #767c8a; }
        .centerBody .centerBodyTab .centerBodyTabBodyWrapper .centerBodyTabBody .centerBodyTabBodyLine:nth-of-type(even) {
          background: #f8f8f8; }
        .centerBody .centerBodyTab .centerBodyTabBodyWrapper .centerBodyTabBody .centerBodyTabBodyLine div {
          float: left;
          height: 100%;
          text-align: left;
          overflow: hidden;
          padding: 0 10px;
          text-overflow: ellipsis;
          white-space: nowrap; }

.save_icon {
  position: relative;
  width: 23px;
  height: 18px;
  background-position: -91px -117px;
  margin-right: 20px;
  top: 4px; }

.cancle_icon {
  position: relative;
  width: 18px;
  height: 22px;
  background-position: -126px -115px;
  top: 6px; }

.total_money_line {
  position: absolute;
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding-left: 50px;
  font-size: 16px;
  color: #4679c7;
  bottom: 30px;
  background-color: white; }

.centerBodyChoiceAll {
  position: absolute;
  bottom: 40px;
  height: 50px;
  width: 100%;
  line-height: 50px;
  background: #f2f2f2; }
  .centerBodyChoiceAll div {
    float: left; }

.queryTxtbox {
  display: block;
  width: 400px;
  height: 30px;
  border: none;
  border-bottom: #efeef2 solid 2px;
  float: left !important;
  background: none;
  text-indent: 35px; }

.defaltBtn {
  display: block;
  height: 30px;
  line-height: 28px;
  text-align: center;
  border-radius: 3px;
  cursor: pointer; }

.btnLength6 {
  width: 120px; }

.btnLength4 {
  width: 93px; }

.btnLength2 {
  width: 70px; }

.btnBgGreen {
  background: #20dc83;
  color: #fff; }

.btnBgGray {
  background: #d2d2d2;
  color: #fff; }

.btnBgBlue {
  background: #4679c7;
  color: #fff; }

.btnBorderGreen {
  color: #20dc83;
  border: #20dc83 solid 1px; }

.upload_file_input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer; }

.btnBorderGray {
  background: #fff;
  color: #aaa;
  border: #aaa solid 1px; }

.btnBorderBlue {
  background: #fff;
  color: #4679c7;
  border: #4679c7 solid 1px; }

.operateBtn {
  display: block;
  height: 26px;
  line-height: 26px;
  text-align: center;
  border-radius: 3px;
  cursor: pointer; }

.arrangeBtn {
  display: block;
  height: 19px;
  line-height: 19px;
  text-align: center;
  border-radius: 3px;
  cursor: pointer; }

.arrangeBtnBlue {
  background: #76a8ff;
  color: #fff; }

.arrangeBtnLength {
  width: 56px;
  float: left !important;
  margin: 6px 0px 0px 8px; }

.paddingLeftRight9 {
  padding: 0px 9px;
  font-style: normal; }

.floatLeft {
  float: left; }

.floatRight {
  float: right; }

/*课程定义页面*/
.pd_td_checkbox, .pd_td_edit {
  width: 4%;
  height: 100%; }

.pd_td_edit .editIcon {
  margin-top: 5px; }

.pd_td_code {
  width: 12%; }

.pd_td_name {
  width: 10%; }

.pd_td_type {
  width: 12%; }

.pd_td_date1 {
  width: 6%; }

.pd_td_date2 {
  width: 8%; }

.pd_td_date {
  width: 11%; }

.pd_td_status {
  width: 11%; }

.pd_td_status1 {
  width: 16%; }

/*课程定义页面*/
/*项目立项页面*/
.proApprovalTdCheckbox {
  width: 4%; }

.proApprovalTdCode {
  width: 17%; }

.proApprovalTdName {
  width: 16%; }

.proApprovalTdDate {
  width: 11%; }

.proApprovalTdStarttime, .proApprovalTdEndtime {
  width: 12%; }

.proApprovalTdOperate {
  width: 11%; }

.proApprovalTdType {
  width: 10%; }

.proApprovalTdStatus {
  width: 7%; }

.proApprovalTdCheckbox > span {
  margin-top: 12px; }

.proApprovalTdOperate > .icon_common {
  margin: 10px auto; }

.look_advanceorder_icon {
  width: 18px;
  height: 20px;
  background-position: -240px -146px; }

/*项目立项页面*/
/*排期页面*/
.course_sceduling_list_name {
  width: 15%; }

.course_sceduling_list_major {
  width: 12%; }

.course_sceduling_list_period {
  width: 7%; }

.course_sceduling_list_unit {
  width: 9%; }

.course_sceduling_list_tel {
  width: 13%; }

.course_sceduling_list_starttime {
  width: 11%; }

.course_sceduling_list_endtime {
  width: 11%; }

.course_sceduling_list_aptitude {
  width: 11%; }

.course_sceduling_list_remark {
  width: 12%; }

.course_sceduling_list_operate {
  width: 4%;
  height: 100%;
  float: right !important;
  margin-right: 20px;
  padding: 0px !important; }

/*排期页面*/
/*right_main页面*/
.body_right_main {
  position: absolute;
  top: 70px;
  bottom: 120px;
  width: 100%; }

.right_tab_head {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 43px;
  padding-left: 100px;
  line-height: 43px;
  background: #f1f1f1;
  font-size: 16px; }

.right_tab_head > div {
  float: left;
  /*text-align: center;*/
  text-align: left;
  padding-left: 20px;
  font-size: 14px;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.right_tab_body_wrapper {
  position: absolute;
  top: 43px;
  bottom: 0;
  width: 100%;
  background: #fff;
  overflow: hidden; }

.right_tab_line {
  position: relative;
  color: #767c8a;
  height: 38px;
  width: 100%;
  padding-left: 100px; }

.right_tab_line > div {
  float: left;
  height: 100%;
  line-height: 30px;
  box-sizing: border-box;
  text-align: left;
  padding-left: 20px;
  padding-top: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.right_tab_line > .set_course_td_operate {
  float: right;
  margin-right: 20px; }

.right_tab_line:nth-child(2n) {
  background: #fff; }

.right_tab_line:nth-child(2n) {
  background: #f8f8f8; }

.right_tab_line_input {
  height: 80%;
  width: 100%;
  border: none;
  color: #767c8a;
  background: #eaf1fe; }

.right_tab_line .defaltBtn {
  margin: 0; }

.right_tab_line .btnBgGreen {
  margin-left: 5%;
  margin-right: 10px; }

.list_pagination {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%); }

/*right_main页面*/
/*****课程专业列表*****/
.set_course_td_code, .set_course_td_name {
  width: 28%; }

.set_course_td_operate {
  width: 20%;
  padding: 0 !important;
  margin-right: 20px;
  text-align: right !important;
  float: right !important; }

.set_course_td_operate span {
  float: right;
  margin-top: 7px; }

.set_course_td_operate > .editIcon {
  margin-left: 25%;
  margin-right: 12px; }

.set_course_td_operate .defaltBtn {
  float: right; }

/*****课程专业列表*****/

/*# sourceMappingURL=base.css.map */
